Batch_1
deleted_captured_images
Filterd_Batch_1
folder_3
New folder
organized_images
output_faces
test
venv
archive
IMG
Staff_Faces
Guest_Faces
arcfaceresnet100-8.onnx
archive.zip
deleted_captured_images.part01.rar
deleted_captured_images.part02.rar
deleted_captured_images.part25.rar
deleted_captured_images.part26.rar
embeddings_Guest.pkl
embeddings_staffs.pkl
embeddings.pkl
embeddings1.pkl
embeddings3.pkl
mxnet_cu112-1.9.1-py3-none-manylinux2014_x86_64.whl
numpy-1.16.6-cp37-cp37m-win_amd64.whl
Batch_1
.models
w600k_r50.onnx
glintr100.onnx
Detector.onnx
Sources